<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer_purchase_history>
            <general>
                <enabled>1</enabled>
                <order_status>complete,processing</order_status>
            </general>
        </customer_purchase_history>
    </default>
</config>
