<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sanjeev_tab" sortOrder="400" translate="label">
            <label>Sanjeev</label>
        </tab>
        <section id="customer_purchase_history" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Purchase History</label>
            <tab>sanjeev_tab</tab>
            <resource>Sanjeev_CustomerPurchaseHistory::config</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_status" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Status</label>
                    <comment>Select order statuses to include in purchase history</comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
